$btn-night-color:              #fff;
$btn-night-bg:                 #303030;
$btn-night-border:             #303030;

$border-radius-base:        1px;

$icon-btn-border: #959595;
$icon-btn-color: #303030;

$font-family-sans-serif:  'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: 'Lato', sans-serif;
