%display-block {
    display: block;
}

%post-title {
    
}

@mixin fixed-image($width, $height) {
    width: $width;
    height: $height;
    overflow: hidden;

    & img {
        width: inherit;
    }
}
